extends ../layout.jade

block content
  section.featured.full-page
    .container.well.normal-text
      .row.mar-bot20
        .col-sm-12
          .align-center
            h1.mar-bot10 #{title}
            h4 #{category}

      .row.align-center
        .col-sm-4
          a.fancybox(href="/img/portfolio/amv-contest.jpg")
            img(src="/img/portfolio/amv-contest.jpg").project-image.mar-bot20
          a(href="#")
            i(data-toggle='tooltip', title='View code on Github').fa.fa-code.fa-2x.show-tooltip.mar-right20
        
        .col-sm-8.align-left 
          p A NodeJS app built for an exercise at RefactorU. This fairly simple app allows the user to enter a series of anime music videos (AMVs) hosted on YouTube, and the app will automatically generate a list of embedded videos. The user can then trigger a "contest", which randomly pairs two videos and allows the user to select a "winner." No database was used for this app, so video objects are stored only in the server's memory.
          
          h4.mar-bot0 Front-end technology
          ul
            li HTML5 elements and CSS3 styling
            li Twitter Bootstrap
            li Client-side Javascript and jQuery
          
          h4.mar-bot0 Back-end technology
          ul
            li NodeJS / Express
            li Jade templating engine
            li Asynchronous callbacks