extends ../layout.jade

block content
  section.featured.full-page
    .container.well.normal-text
      .row.mar-bot20
        .col-sm-12
          .align-center
            h1.mar-bot10 #{title}
            h4 #{category}

      .row.align-center
        .col-sm-4
          a.fancybox(href="/img/portfolio/clock.jpg")
            img(src="/img/portfolio/clock.jpg").project-image.mar-bot20
          a(href="https://github.com/prelator/refactoru-clock-exercise")
            i(data-toggle='tooltip', title='View code on Github').fa.fa-code.fa-2x.show-tooltip.mar-right20
          
          a(href="/demos/clock/index.html")
            i(data-toggle='tooltip', title='View live demo').fa.fa-play-circle.fa-2x.show-tooltip.mar-left20
        
        .col-sm-8.align-left 
          p The result of a Javascript and CSS exercise from RefactorU, creating an animated digital clock with all elements appended by jQuery.
          
          h4.mar-bot0 Technology demonstrated
          ul
            li HTML5 elements and CSS3 styling (all manual - no CSS frameworks used)
            li jQuery DOM manipulation
            li Native Javascript time functions