extends ../layout.jade

block content
  section.featured.full-page
    .container.well.normal-text
      .row.mar-bot20
        .col-sm-12
          .align-center
            h1.mar-bot10 #{title}
            h3 NodeJS

      .row.align-center
        .col-sm-4
          img(src="/img/portfolio/localdrones.jpg").project-image.mar-bot20
          a(href="#")
            i(data-toggle='tooltip', title='View code on Github').fa.fa-code.fa-2x.show-tooltip.mar-right20
          
          a(href="http://localdrones.net")
            i(data-toggle='tooltip', title='View live demo').fa.fa-play-circle.fa-2x.show-tooltip.mar-left20
        
        .col-sm-8.align-left 
          p This was my final project at RefactorU. The site was built using NodeJS, the Jade templating engine, and Heroku hosting. I came up with the concept for the website and built the complete app in only 1.5 weeks. The idea of the site was to combine by interests in drones /model aircraft and web development. The site allows people like real estate agents, event coordinators, etc. to post projects for which they would like to hire a drone to perform aerial photography. Local drone hobbyists and RC aerial photography companies can then bid on projects.
          h4.mar-bot0 Front-end technology
          ul
            li AngularJS for list generation, sorting, filtering, and searching
            li Twitter Bootstrap
            li Google Maps API
          h4.mar-bot0 Back-end technology
          ul
            li NodeJS / Express
            li Jade templating engine
            li Passport authentication through Facebook and Google oAauth 2.0
            li MongoDB database with Mongoose middleware


      
  