extends ../layout.jade

block content
  section.featured.full-page
    .container.well.normal-text
      .row.mar-bot20
        .col-sm-12
          .align-center
            h1.mar-bot10 #{title}
            h4 #{category}

      .row.align-center
        .col-sm-4
          a.fancybox(href="/img/portfolio/mad-metrics.jpg")
            img(src="/img/portfolio/mad-metrics.jpg").project-image.mar-bot20
          //- a(href="#")
          //-   i(data-toggle='tooltip', title='View code on Github').fa.fa-code.fa-2x.show-tooltip.mar-right20
          
          a(href="/demos/mad-metrics/index.html")
            i(data-toggle='tooltip', title='View live demo').fa.fa-play-circle.fa-2x.show-tooltip.mar-left20
        
        .col-sm-8.align-left 
          p An exercise I completed fairly early in the RefactorU course. This simple app uses only native Javascript (no jQuery) to gather a number of metrics on the user's interaction with a web page, including scroll position, the percentage of the page viewed, how long the user spent on each section of the page, and the length of time before the user clicked the "sign up" button at the bottom of the page.

          h4.mar-bot0 Technology demonstrated
          ul
            li HTML5 elements and CSS3 styling (all manual - no CSS frameworks used)
            li Client-side, native Javascript programming and event handlers  